.header {
    top: 5px;
    height: 100px;
    left: 5px;
    right: 5px;
    text-align: right;
    z-index: 1;   
}

.mainbody{
    top: 114px;
    bottom: 114px;
    left: 5px;
    right: 5px;
    text-align: left;
    padding-right: 5px;
    z-index: 2;
}

.footer{
    bottom: 5px;
    height: 40px;
    left: 5px;
    right: 5px;
    text-align: center;
    z-index: 3;
}

.tableau{
    width: 675px;
}

.custombg{
    background-color: rgb(219, 217, 217);
}

h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    color: rgba(8, 23, 153, 0.815);
    font-size: large;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: small;
    color:rgba(8, 23, 153, 0.815);
    font-size: medium;
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
    color: rgba(8, 23, 153, 0.815);
}

a {
    color: rgba(8, 23, 153, 0.815);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:visited {
    color: rgba(8, 23, 153, 0.815)
}